
{% extends 'admin_base.html' %}

{% block content %}

  <h1>{{ current_user.name }}</h1>
  <a data-toggle="modal" data-target="#editnameform" href="">edit name</a>
  <hr>

  <div class="row">
    <div class="col-md-8">
      <h2>General</h2>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='images/'+current_user.profile_photo) }}" width="200">
          <a data-toggle="modal" data-target="#imageform" href="">update photo</a>
        </div>
        <div class="col-md-8">
          <h3>About</h3>
          <hr>
          <p>{{ current_user.personal_statement }}</p>
          <a data-toggle="modal" data-target="#aboutform" href="#">edit about</a>
          <a data-toggle="modal" data-target="#cvform" href="#">update CV</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Skills</h3>
      <hr>
      <div class="each-lang">
        {% for skill in skills %}
        <div class="lang">
          <div class="parcial">
            <div class="info">
              <div class="name"><a data-toggle="modal" data-target="#editskill{{ skill.id }}">{{ skill.skill_name }}</a></div>
              <div class=percentagem-num>{{ skill.proficiency_level }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <hr>
      <a data-toggle="modal" data-target="#addskillform" href="">Add Skill</a>
    </div>
  </div><!-- end row -->

  <div class="row">
    <div class="col-md-12">
      <h2>Projects</h2>
      <hr>
      <!-- Each Project Category -->
      <div class="row">

        <!-- for apiproject in apiprojects -->
        {% for apiproject in apiprojects %}
        <div class="col mb-4">
          <div class="card">
            <a class="workspace-link" href="{{ url_for('apiprojectedit', project_id=apiproject.id) }}">
              <div class="card-body">
                <h5 class="card-title">{{ apiproject.name }}</h5>
              </div>
            </a>
            <div class="card-footer text-right">
              <div class="dropdown">
                <a style="cursor:pointer" class="card-link" id="optionsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                <div class="dropdown-menu" aria-labelledby="optionsLink">
                  <a href="#" class="dropdown-item">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- endfor -->
        <div class="col mb-4">
          <div class="card">
            <a class="workspace-link" href="{{ url_for('apiprojectnew') }}">
              <div class="card-body">
                <h5 class="card-title">New API Project</h5>
              </div>
            </a>
            <div class="card-footer text-right">
              <div class="dropdown">
                <a style="cursor:pointer" class="card-link" id="optionsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                <div class="dropdown-menu" aria-labelledby="optionsLink">
                  <a href="#" class="dropdown-item">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end of apiprojects row -->

      <div class="row">
        <!-- for webproject in webprojects -->
        {% for webproject in webprojects %}
        <div class="col mb-4">
          <div class="card">
            <a class="workspace-link" href="{{ url_for('webprojectedit', project_id=webproject.id) }}">
              <div class="card-body">
                <h5 class="card-title">{{ webproject.name }}</h5>
              </div>
            </a>
            <div class="card-footer text-right">
              <div class="dropdown">
                <a style="cursor:pointer" class="card-link" id="optionsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                <div class="dropdown-menu" aria-labelledby="optionsLink">
                  <a href="#" class="dropdown-item">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- endfor -->
        <div class="col mb-4">
          <div class="card">
            <a class="workspace-link" href="{{ url_for('webprojectnew') }}">
              <div class="card-body">
                <h5 class="card-title">New Web Project</h5>
              </div>
            </a>
            <div class="card-footer text-right">
              <div class="dropdown">
                <a style="cursor:pointer" class="card-link" id="optionsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                <div class="dropdown-menu" aria-labelledby="optionsLink">
                  <a href="#" class="dropdown-item">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- end of webproejcts row -->

      <div class="row">
        <!-- for softwareproject in softwareprojects -->
        {% for softwareproject in softwareprojects %}
        <div class="col mb-4">
          <div class="card">
            <a class="workspace-link" href="{{ url_for('softwareprojectedit', project_id=softwareproject.id) }}">
              <div class="card-body">
                <h5 class="card-title">{{ softwareproject.name }}</h5>
              </div>
            </a>
            <div class="card-footer text-right">
              <div class="dropdown">
                <a style="cursor:pointer" class="card-link" id="optionsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                <div class="dropdown-menu" aria-labelledby="optionsLink">
                  <a href="#" class="dropdown-item">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- endfor -->
        <div class="col mb-4">
          <div class="card">
            <a class="workspace-link" href="{{ url_for('softwareprojectnew') }}">
              <div class="card-body">
                <h5 class="card-title">New Software Project</h5>
              </div>
            </a>
            <div class="card-footer text-right">
              <div class="dropdown">
                <a style="cursor:pointer" class="card-link" id="optionsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
                <div class="dropdown-menu" aria-labelledby="optionsLink">
                  <a href="#" class="dropdown-item">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- end softwareprojects row -->
    </div>
  </div><!-- end projects row -->

  {% for skill in skills %}
  <!-- Edit Skill Modal -->
  <div class="modal fade" id="editskill{{ skill.id }}" tabindex="-1" role="dialog" aria-labelledby="editSkillModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editSkillModal">Edit Skill {{ skill.skill_name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  	    <div class="modal-body">
          <div class="row" style="margin-left:10px">
            <a class="btn btn-outline-dark" href="{{ url_for('skilledit', skill_id=skill.id) }}">Edit</a>
            <form style="margin-left:10px" action="{{ url_for('skilldelete', skill_id=skill.id)}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-outline-danger">
            </form>
          </div>
  	    </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Add Skill Modal -->
  <div class="modal fade" id="addskillform" tabindex="-1" role="dialog" aria-labelledby="addSkillModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSkillModal">New Skill</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
          {{ skillform.csrf_token }}
  	      <div class="modal-body">
  	      	{{ skillform.skill_name.label(class="form-control-label") }}
            {{ skillform.skill_name(class="form-control form-control-lg") }}
  	      	{{ skillform.proficiency_level.label(class="form-control-label") }}
            {{ skillform.proficiency_level(class="form-control form-control-lg") }}
  	      </div>
  	      <div class="modal-footer">
            {{ skillform.submit(class="btn btn-outline-dark") }}
  	      </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add Profile Photo Modal -->
  <div class="modal fade" id="imageform" tabindex="-1" role="dialog" aria-labelledby="addPhotoModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPhotoModal">Update Profile Photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" enctype="multipart/form-data">
          {{ imageform.csrf_token }}
  	      <div class="modal-body">
            {{ imageform.image_file(class="form-control-file") }}
            {% if imageform.image_file.errors %}
              {% for error in imageform.image_file.errors %}
                <span class="text-danger">{{ error }}</span></br>
              {% endfor %}
            {% endif %}
  	      </div>
  	      <div class="modal-footer">
              {{ imageform.submit(class="btn btn-outline-dark") }}
  	      </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add Personal Statement Modal -->
  <div class="modal fade" id="aboutform" tabindex="-1" role="dialog" aria-labelledby="editaboutModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editaboutModal">Update Personal Statement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="aboutform" method="POST">
          {{ aboutform.csrf_token }}
  	      <div class="modal-body">
            {% if aboutform.personal_statement.errors %}
              {{ aboutform.personal_statement(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in aboutform.personal_statement.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ aboutform.personal_statement(class="form-control form-control-lg") }}
            {% endif %}
  	      </div>
  	      <div class="modal-footer">
              {{ aboutform.submit(class="btn btn-outline-dark") }}
  	      </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Add CV -->
  <div class="modal fade" id="cvform" tabindex="-1" role="dialog" aria-labelledby="cvformModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cvformModal">Update CV</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="cvform" method="POST" enctype="multipart/form-data">
          {{ cvform.csrf_token }}
  	      <div class="modal-body">
            {{ cvform.cv_file(class="form-control-file") }}
  	      </div>
  	      <div class="modal-footer">
            {{ aboutform.submit(class="btn btn-outline-dark") }}
  	      </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
