
{% extends 'admin_base.html' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projectinfo.css') }}">
{% endblock %}
{% block content %}
  <h1>{{ project.name }}</h1>
  <a target="_blank" href="{{ project.link }}">{{ project.link }}</a>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <div class="notes" style="text-align:center;">
        <h3 style="margin-top:40px;margin-bottom:30px;">Click on one of tabs on right to view</h3>
      </div>
      <!-- About -->
      <div class="notes inactiveNote" id="aboutnote">
        <article class="media content-section">
          <div class="media-body">
            <h2>About</h2>
            <p>{{ project.description }}</p>
            <hr>
          </div>
        </article>
      </div>

      <!-- Downloads -->
      <div class="notes inactiveNote" id="downloads">
        <article class="media content-section">
          <div class="media-body">
            <h2>Downloads</h2>
            <hr>
            {% if project.windows_file %}
              <a href="{{ url_for('downloadfile', project_id=project.id, filetype='windows') }}">Windows</a>
              <hr>
            {% endif %}
            {% if project.macos_file %}
              <a href="{{ url_for('downloadfile', project_id=project.id, filetype='macos') }}">MacOS</a>
              <hr>
            {% endif %}
            {% if project.linux_file %}
              <a href="{{ url_for('downloadfile', project_id=project.id, filetype='linux') }}">Linux</a>
            {% endif %}
            {% if not project.windows_file and not project.macos_file and not project.linux_file %}
              <p>No currently available downloads</p>
            {% endif %}
            <hr>
          </div>
        </article>
      </div>
      
      {% if project.installation_guide %}
      <!-- Installation Guide -->
      <div class="notes inactiveNote" id="installation">
        <article class="media content-section">
          <div class="media-body">
            <h2>Installation Guide</h2>
            <a href="{{ url_for('static', filename=project.name+'/'+project.installation_guide) }}">User Guide</a>
            <hr>
          </div>
        </article>
      </div>
      {% endif %}

      {% if project.user_guide %}
      <!-- User Guide -->
      <div class="notes inactiveNote" id="userguide">
        <article class="media content-section">
          <div class="media-body">
            <h2>User Guide</h2>
            <a href="{{ url_for('static', filename=project.name+'/'+project.user_guide) }}">User Guide</a>
            <hr>
          </div>
        </article>
      </div>
      {% endif %}
      
      <!-- Upcoming Functionality -->
      <div class="notes inactiveNote" id="updates">
        <article class="media content-section">
          <div class="media-body">
            <h2>Upcoming Functionality</h2>
            <p>{{ project.upcoming_functionality }}</p>
            <hr>
          </div>
        </article>
      </div>

    </div>
    <hr>
    <div class="col-md-4">
      <h3 class="text-center">Notes</h3>
      <hr>
      <div>
        <ul class="list-group">
          <!-- About toggle -->
          <div class="list-group-item list-group-item-action allNotes" data-noteid="aboutnote">
            <div class="d-flex justify-content-between align-items-center">
              <p>About</p>
            </div>
          </div>

          <!-- Downloads toggle -->
          <div class="list-group-item list-group-item-action allNotes" data-noteid="downloads">
            <div class="d-flex justify-content-between align-items-center">
              <p>Downloads</p>
            </div>
          </div>

          <!-- Installation guide toggle -->
          <div class="list-group-item list-group-item-action allNotes" data-noteid="installation">
            <div class="d-flex justify-content-between align-items-center">
              <p>Installation Guide</p>
            </div>
          </div>

          <!-- User Guide toggle -->
          <div class="list-group-item list-group-item-action allNotes" data-noteid="userguide">
            <div class="d-flex justify-content-between align-items-center">
              <p>User Guide</p>
            </div>
          </div>

          <!-- Upcoming Functionality toggle -->
          <div class="list-group-item list-group-item-action allNotes" data-noteid="updates">
            <div class="d-flex justify-content-between align-items-center">
              <p>Upcoming Functionality</p>
            </div>
          </div>

        </ul>
      </div>
      <hr>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/projectinfo.js') }}"></script>
{% endblock %}
