
{% extends 'admin_base.html' %}
{% block content %}
  <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ project.name }}</legend>
        {{ form.name.label(class="form-control-label") }}
        {{ form.name(class="form-control form-control-lg") }}
        {{ form.source_code.label(class="form-control-label") }}
        {{ form.source_code(class="form-control form-control-lg") }}
        {{ form.link.label(class="form-control-label") }}
        {{ form.link(class="form-control form-control-lg") }}
        {{ form.description.label(class="form-control-label") }}
        {{ form.description(class="form-control form-control-lg") }}
        {{ form.upcoming_functionality.label(class="form-control-label") }}
        {{ form.upcoming_functionality(class="form-control form-control-lg") }}
        {{ form.user_guide.label(class="form-control-label") }}
        {{ form.user_guide(class="form-control-file") }}
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-dark") }}
      </div>
    </form>
  </div>
{% endblock %}
